.fontSizeSmall { 
    font-size: 8px !important; 
}

.fontSizeMedium { 
    font-size: 14px !important; 
}

.widget .widget-body .list-hands i.i-medium {
    font-size: 16px;
}

ul.source, ul.target, ul.in-progress {
  min-height: 50px;
  margin: 0px 0px 10px 0px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  list-style-type: none;
  list-style-position: inside;
}
ul.source {
  border-color: #f8e0b1;
}
ul.target {
  border-color: #add38d;
}
ul.in-progress {
  border-color: #295993;
}
.source li, .target li, .in-progress li {
  margin: 5px;
  padding: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.source li {
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  color: #c09853;
}
.in-progress li {
  background-color: rgba(41,89,147,0.1);
  border: 1px solid ##295993;
  color: #295993;
}
.target li {
  background-color: #ebf5e6;
  border: 1px solid #d6e9c6;
  color: #468847;
}
.sortable-dragging {
  border-color: #ccc !important;
  background-color: #fafafa !important;
  color: #bbb !important;
}
.sortable-placeholder {
  height: 40px;
}
.source .sortable-placeholder {
  border: 2px dashed #f8e0b1 !important;
  background-color: #fefcf5 !important;
}
.target .sortable-placeholder {
  border: 2px dashed #add38d !important;
  background-color: #f6fbf4 !important;
}

.float-none {
    float: none;
}

.source.connected li:hover, .target.connected li:hover{
  cursor: pointer;
}

.body-wide #header,.body-wide #menu {
    display: none
}

.body-wide>.main-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0
}

.body-wide #content {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0
}

.body-wide .introjs-helperLayer,.body-wide .introjs-overlay {
    display: none
}

.v-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.col-v-center {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}

.one-edge-shadow {
  box-shadow: 0 8px 8px -6px gray;
}

.thumbnail.widget-thumbnail .header {
  color: rgb(170, 170, 170); 
  width: 100%;
  height: 200px;
  line-height: 200px;
  background-color: rgb(238, 238, 238);
}

.fa-10x {
  font-size: 15em;
}

/*landing*/
.slider-content{
  position: relative;
}

.slider {
  width: 100%;
  height: 400px;
}

.item {
  height: 400px;
}

.item_1 {
  background: url("../images/universidades.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.item_2 {
  background: url("../images/empresas.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.item_3 {
  background: url("../images/estudiantes.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu{
  min-height: 19px;
  margin-top: 15px;
}

.menu li{
  padding-left: 10px;
}

.menu li a {
  color: #5B6FC1;
}

.menu li.active a{
  font-weight: bold;
}

.menu li a:focus{
  text-decoration: none;
}

.menu li a:hover{
  padding-bottom: 1px;
  border-bottom: 1px solid #5B6FC1;
}

.logo_white{
  width: 250px !important;
  opacity: 0.6;
}

.img-center{
  margin: 0 auto;
}

.img-features{
  width: 180px !important;
}

.linea-separador{
  border-bottom: 1px solid #bbb;
}

.section-primary{
  width: 100%;
  background-color: #5B6FC1;
  color: #fff;
  opacity: 0.8;
}

.section-last{
  margin-bottom: 60px;
}

.parrafo {
  font-size: 16px;
}
/*end landing*/