<!-- modal assignTask -->
<div class="modal fade" id="modal-assignTask">

    <div class="modal-dialog">
        <div class="modal-content bg-white">
            <!-- Modal body -->
            <div class="modal-body padding-none ">

                <form class="form-horizontal " role="form">

                    <div class="innerLR innerT">
                        <div class="widget widget-small widget-primary">
                            <div class="widget-head ">
                                <div class="strong">
                                    Asignar Alumnos:
                                </div>
                            </div>
                            <div class="widget-body padding-none">
                                <ul class="unstyled list-hands">
                                    <li ng-repeat="alumno in alumnos">
                                        <div class="media">
                                            <div class="pull-left">
                                                <span class="glyphicon glyphicon-user text-muted"></span>              
                                            </div>
                                            <div class="media-body">
                                                <div class="pull-right">
                                                    <div class="radio">
                                                        <label class="radio-custom checked" data-initialize="radio">
                                                            <input type="radio" name="radio" checked="checked"> 
                                                            <i class="fontSizeSmall fa fa-w fa-square-o"></i>
                                                        </label> 
                                                    </div>
                                                </div>
                                                <a href="#">{{alumno.nombre}} {{alumno.apellido}}</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="clearfix"></div>
                    </div>

                </form>

            </div>
            <!-- // Modal body END -->

            <div ng-show="msg" class="nnerLR alert alert-success text-center">
              <strong>{{msg}}
            </div>

            <div class="innerLR innerB text-right">
                <a href="#" class="btn btn-default"><i class="fa fa-times"></i> Cancelar</a>
                <a ng-click="tryAsignar()" href class="btn btn-primary"><i class="fa  fa-check"></i> Asignar</a>
            </div>

        </div>
    </div>

</div>
<!-- end modal assignTask -->