<!-- Sidebar Menu -->
<div id="menu" class="hidden-print hidden-xs">

    <div id="sidebar-fusion-wrapper">
        <!--        <input class="form-control search" type="text" placeholder="Search...">-->
        <div class="search-wrapper">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar">
                <span class="input-group-btn">
                    <button class="btn btn-inverse" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div><!-- /input-group -->
        </div>

        <ul class="menu list-unstyled">
            <li><a href="#/proyectos-empresa">Proyectos Emp</a></li>
            <li><a href="#/proyectos-universidad">Proyectos Uni</a></li>
            <li><a href="#/proyecto-descripcion-universidad">Desc. Proyecto</a></li>
            <li><a href="#/alumnos">Alumnos</a></li>
        </ul>
    </div>

</div>
<!-- // Sidebar Menu END -->