<div class="clearfix">
  <h1 class="innerB col-md-8">Alumnos ({{alumnos.length}}) </h1>
  <div class="input-group col-md-4">
    <input type="text" class="form-control" ng-model="alumnoBuscado" placeholder="buscar alumno..">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
  </div>
</div>


<!-- <div class="widget widget-heading-simple widget-body-white">

    <div class="widget-head">
        <h4 class="heading">Invitar a alumnos</h4>
    </div>

    <div class="widget-body clearfix">
        <label for="emailAlumnos">Email:</label>
        <input class="innerB" type="hidden" ui-jq="select2" ui-options="select2Email" style="width: 100%;"/>
        <div ng-show="msg" class="alert alert-success text-center">
          <strong>{{msg}}</strong>
      </div>
      <button ng-click="trySendEmail()" class="pull-right btn btn-primary">Invitar</button>
  </div>
</div> -->

<div class="row">
  <div class="col-md-6" ng-repeat="alumno in alumnos | filter: alumnoBuscado">
    <div class="widget widget-small" >
    <!-- <div class="widget widget-small"> -->
        <div class="media innerAll half">
            <div class="pull-left h1 media-object hidden-xs margin-none innerR">
                <i class="icon-user-2 icon-faded"></i>
            </div>
            <!-- <ul class="list-unstyled pull-right media-action" ng-if="usuario.user == 'coordinador'" > -->
            
            <div class="media-body">
                <h4><a ng-href="">{{alumno.nombre}} {{alumno.apellido}} </a></h4>
            </div>
        </div>
    </div>
  </div>
</div>
