<h1 class="pull-left">Tareas</h1>
<div class="clearfix"></div>
<div class="separator"></div>
<div class="widget widget-none">
    <div class="widget-body clearfix" ng-controller="MainCtrl">
        <div class="col-md-4">
        	<h4 class="innerB half">Para hacer</h4>
        	<ul class="source connected" ui-jq="sortable" ui-options="sortableOption">
        		<li ng-repeat="tarea in tareas">	
        			<div class="media">
        				<div class="pull-left h1 media-object hidden-xs margin-none innerR">
        					<i class="text-muted fa fa-ticket"></i>
        				</div>
        				<div class="media-body">
        					<h4>    <a href data-target="#modal-taskDescription" data-toggle="modal">{{tarea.Nombre}}</a></h4>
        					<div class="innerR">
        						<span class="strong">Inicio: </span>
        						<span> {{tarea.FechaInicio}}</span>
        					</div>
        				</div>
        			</div>
        		</li>
        	</ul>
        </div>
        <div class="col-md-4">
        	<h4 class="innerB half">En progreso</h4>
        	<ul class="in-progress connected" ui-jq="sortable" ui-options="sortableOption">
        		
        	</ul>
        </div>
        <div class="col-md-4">
        	<h4 class="innerB half">Finalizada</h4>
        	<ul class="target connected" ui-jq="sortable" ui-options="sortableOption">
        	</ul>
        </div>
    </div>
</div>