<h1 class="pull-left">Tareas</h1>
<div class="clearfix"></div>
<div class="separator"></div>
<div class="alert alert-info clearfix" ng-show="msg">
    {{msg}}
</div>
<div class="widget widget-none" ng-show="!msg">
    <div class="widget-body clearfix">
        <div class="col-md-4">
        	<h4 class="innerB half">Pendientes - {{pendientes.length}} </h4>
        	<ul class="source connected"  tarea-sortable="pendiente">
        		<li ng-repeat="tarea in pendientes" id="{{tarea.id}}">	
        			<div class="media">
        				<div class="pull-left media-object hidden-xs margin-none innerR">
        					<i class="text-muted fa fa-ticket fa-2x"></i>
        				</div>
        				<div class="media-body">
        					<a href data-target="#modal-taskDescription" data-toggle="modal" ng-click="getTareaById({{tarea.id}})">{{tarea.nombre}}</a>
        				</div>
        			</div>
        		</li>
        	</ul>
        </div>
        <div class="col-md-4">
        	<h4 class="innerB half">En progreso - {{enProgresos.length}} </h4>
        	<ul class="in-progress connected" tarea-sortable="en progreso">
        		<li ng-repeat="tarea in enProgresos" id="{{tarea.id}}">   
                    <div class="media">
                        <div class="pull-left media-object hidden-xs margin-none innerR">
                            <i class="text-muted fa fa-ticket fa-2x"></i>
                        </div>
                        <div class="media-body">
                            <a href data-target="#modal-taskDescription" data-toggle="modal" ng-click="getTareaById({{tarea.id}})">{{tarea.nombre}}</a>
                        </div>
                    </div>
                </li>
        	</ul>
        </div>
        <div class="col-md-4">
        	<h4 class="innerB half">Hecho - {{hechos.length}}</h4>
        	<ul class="target connected" tarea-sortable="hecho">
                <li ng-repeat="tarea in hechos" id="{{tarea.id}}">   
                    <div class="media">
                        <div class="pull-left media-object hidden-xs margin-none innerR">
                            <i class="text-muted fa fa-ticket fa-2x"></i>
                        </div>
                        <div class="media-body">
                           <a href data-target="#modal-taskDescription" data-toggle="modal" ng-click="getTareaById({{tarea.id}})">{{tarea.nombre}}</a>
                        </div>
                    </div>
                </li>
        	</ul>
        </div>
    </div>
</div>
<div ng-include="'views/partials/modal-taskDescription.html'"></div>